.broker-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.broker-header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.broker-tittle {
    text-align: center;
    color: #333;
}

.broker-add-icon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.broker-search-icon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.broker-delete-icon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.broker-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.broker-form > div,
.broker-add-container,
.broker-add-total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.broker-form .broker-input,
.broker-form .broker-select-broker {
    width: 50%;
    min-width: 220px;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.broker-input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.broker-input-data {
    width: 40%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.broker-input-total {
    width: 40%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.broker-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.broker-button-value {
    width: 50%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto;
}

.broker-label {
    display: block;
    margin: 10px 0 5px 10px;
    font-weight: bold;
    color: #555;
}

.broker-add-total-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.broker-select-broker {
    background-color: #fff;
    text-align: center;
    width: 50%;
    min-width: 220px;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.broker-option {
    font-size: 14px;
}

.broker-close-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.broker-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.broker-amount-container {
    display: flex;
    align-items: center;
}

.broker-table-wrapper {
    width: 100%;
    overflow-x: auto;
    /* Permite rolagem horizontal */
    -webkit-overflow-scrolling: touch;
    /* Suaviza a rolagem em dispositivos móveis */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.broker-table {
    min-width: 100%;
    /* Garante que a tabela ocupe pelo menos 100% da largura */
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}

.broker-table th,
.broker-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.broker-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    position: sticky;
    top: 0;
    /* Fixa o cabeçalho no topo */
    z-index: 2;
    /* Garante que o cabeçalho fique acima das células */
}

.broker-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.broker-table tr:hover {
    background-color: #f1f1f1;
}

.broker-table td:first-child,
.broker-table th:first-child {
    position: sticky;
    left: 0;
    /* Fixa a primeira coluna */
    background-color: #f4f4f4;
    /* Cor de fundo para a coluna fixa */
    z-index: 3;
    /* Garante que a coluna fixa fique acima das outras */
    border-right: 1px solid #ddd;
    /* Adiciona uma borda para separar a coluna fixa */
}

.broker-name {
    font-weight: bold;
    color: #333;
}

.total-row {
    font-weight: bold;
    background-color: #f4f4f4;
}

.positive {
    color: green;
    margin-left: 5px;
}

.negative {
    color: red;
    margin-left: 5px;
}

/* Apenas para a área de busca de broker e mês e resultados da busca */

.total-value-search {
    margin: 24px 0 12px 0;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    background: #f7fafc;
    padding: 16px 12px;
    border-radius: 8px;
}

.total-value-search label {
    font-weight: 500;
    color: #225ea8;
    margin-right: 4px;
}

.total-value-search select {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    background: #fff;
    font-size: 1rem;
    margin-right: 8px;
}

.broker-search-results {
    width: 100%;
}

.broker-search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.broker-search-results li {
    align-items: center;
    background: #e6f7ff;
    border-radius: 8px;
    padding: 12px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    font-size: 1rem;
    color: #225ea8;
    display: flex;
}

.broker-search-results p {
    margin: 0;
    font-size: 1.1rem;
}

/* Currency Autocomplete Styles */
.currency-autocomplete-wrapper {
}

.currency-autocomplete-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.currency-autocomplete-list {
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.currency-autocomplete-item {
    padding: 8px;
    cursor: pointer;
    color: #222;
}

.currency-autocomplete-item:hover {
    background: #f0f0f0;
}